// colors
$primary: #01037c;
$secondary: #2e2e99;
$grey: #606077;
$lightPurple: #f6f6ff;
$white: #fff;
$ghostWhite: rgba(255, 255, 255, 0.87);

/* fontsizes */
$default-font-sm: 1.4rem;
$default-font-mid: 1.6rem;
$default-font-lg: 1.8rem;

$default-font-family: "Mukta", sans-serif;

$thin-grey-border: 1px solid #c1bbbb;
